代码/dify_flows/fitting_match.yml
app:
  description: ''
  icon: smiling_face_with_3_hearts
  icon_background: '#FBE8FF'
  mode: advanced-chat
  name: fitting_match
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/siliconflow:0.0.8@217f973bd7ced1b099c2f0c669f1356bdf4cc38b8372fd58d7874f9940b95de3
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 10
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1744360683600-llm
      source: '1744360683600'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: llm-answer
      source: llm
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1744360683600'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params: {}
          mode: chat
          name: Pro/OpenGVLab/InternVL2-8B
          provider: langgenius/siliconflow/siliconflow
        prompt_template:
        - id: d1e9b071-3e0c-46d7-b3ed-1d08488892c2
          role: system
          text: '## 角色

            你是一个时尚专家，能根据用户上传的图片分析并分类不同类型的服装。


            ## 输出格式：

            - 类型：<毛衣/夹克/连帽卫衣/圆领短袖/圆领长袖/高腰长裤/低腰短裙/连衣裙等>

            - 颜色：<服装颜色>

            - 风格：<休闲/正式/运动等>

            - 季节：<春季/夏季/秋季/冬季>

            - 材质：<如：棉质、羊毛、丝绸、涤纶等>

            - 版型：<如：A字型、修身、直筒、宽松、廓形等>


            请确保每个分类项都清晰、完整、准确

            具体类型、颜色、风格、材质、版型请仔细判断，不限于示例

            '
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector: []
          enabled: true
      height: 90
      id: llm
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 213.07099559581087
      y: 91.02665087884458
      zoom: 0.42987504229571244
